{% extends 'base.html' %}

{%  block content %}

    <form class="text-center" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mt-4">
            <span class="input-group-text" id="inputGroup-sizing-default">{{ form.username.label}}: </span>
            {{ form.username }}
        </div>
        {% for error in form.title.errors %}
        <div class="ms-2 text-danger">{{ error }}</div>
        {% endfor %}

        <div class="input-group mt-4">
            <span class="input-group-text" id="inputGroup-sizing-default">{{ form.password.label}}: </span>
            {{ form.password }}
        </div>
        {% for error in form.password.errors %}
        <div class="ms-2 text-danger">{{ error }}</div>
        {% endfor %}

        <input type="submit" value="Войти">
        {% for error in form.search.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
    </form>
{% endblock %}