{% csrf_token %}

<div class="input-group mt-4">
    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.title.label }}: </span>
    {{ form.title }}
</div>
{% for error in form.title.errors %}
<div class="ms-2 text-danger">{{ error }}</div>
{% endfor %}

<div class="form-floating mt-3">
    {{form.description}}
    <label for="floatingTextarea">{{ form.description.label }}:</label>
</div>
{% for error in form.description.errors %}
<div class="ms-2 text-danger">{{ error }}</div>
{% endfor %}

<div class="input-group mt-4">
    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.date_begin.label }}: </span>
    {{ form.date_begin }}
</div>
{% for error in form.date_begin.errors %}
<div class="ms-2 text-danger">{{ error }}</div>
{% endfor %}

<div class="input-group mt-4">
    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.date_end.label }}: </span>
    {{ form.date_end }}
</div>
{% for error in form.date_end.errors %}
<div class="ms-2 text-danger">{{ error }}</div>
{% endfor %}



<button type="submit" class="btn btn-primary ms-2 ps-3 pe-3 mt-4">{{ button_text }}</button>