<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %} Home {% endblock %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bg-secondary bg-opacity-10">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><h1>IssueTracker</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% block menu %}
          {% endblock %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              проекты
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'projects' %}">все проекты</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'project_add' %}">создать проект</a></li>
            {% endif %}
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              задачи
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'index' %}">все задачи</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'issue_add' %}">создать задачу</a></li>
            {% endif %}
          </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item text-white">
            <p class="pt-2 ms-3">Здравствуйте, {{ user.username }}!</p> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Вход</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}  
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>



