{% extends 'base.html' %}

{% block menu %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'issue_add' %}">+добавить задачу</a>
</li>
{% endblock %}

{% block content %}
<div style="text-align: center;" class="title mt-3 mb-3">
  <h2>Список задач:</h2>
  {% include 'partial/search.html' %}
</div>
<div class="row">
{% if issues %}
{% for issue in issues %}
<div class="col-md-12 col-xl-4 mb-4">
  <div class="card p-3 m-2">
    <div class="card-header p-0 bg-white">
      <p><a class="text-dark" style="text-decoration: none;" href="{% url 'issue' issue.pk %}"><h5 class="card-title">{{issue.title}}</h5></a></p>
    </div>
    Тип: 
    <p class="ms-2">
    {% for type in issue.type_issue.all %}
    <strong>{{ type }}</strong><br>
    {% endfor %}
    </p>
    <p>Статус: <strong>{{ issue.status }}</strong></p>
    <p><strong><a href="{% url 'issue' issue.pk %}" class="btn btn-primary ps-5 pe-5">Подробнее</a></strong></p>
    <p style="text-align: right;"><small><a  class="link-success" href="{% url 'issue_update' issue.pk %}">редактировать</a> | <a class="link-danger" href="{% url 'issue_del' issue.pk %}">удалить</a></small></p>
  </div>
</div>
{% endfor %}
    {% if is_paginated %}
      {% include 'partial/pagination.html' %}
    {% endif %}
{% else %}
<h1>Вы не создали еще ни одной задачи!</h1>
<p><a href="add/">Добавить новую задачу</a></p>
{% endif %}

</div>
{% endblock %}