{% extends 'base.html' %}

{% block title %}
    Issue create
{% endblock %}

{% block menu %}
<li class="nav-item">
  <a class="nav-link active text-light" disabled aria-current="page">+добавить задачу</a>
</li>
{% endblock %}

{% block content %}
<h1 class="m-3">Создание новой задачи: </h1>
<form class="m-3" action="{% url 'issue_add' %}" method="POST">
    {% include 'partial/issue_form.html' with button_text='Создать' %}
</form>
<p class="mt-4 ms-2"><a href="{% url 'index' %}">вернуться на главную</a></p>
{% endblock %}