{% extends 'base.html' %}

{% block title %}
    Issue delete
{% endblock %}



{% block content %}
<div class="card mb-3 mt-4">
    <div class="card-body">
      <h2 class="m-5">Вы точно хотите удалить запись "{{ issue.title }}"?</h2>  
      <form action="{% url 'del_confirm' issue.pk %}" method="post">
        {% csrf_token %}
        <p style="text-align: center;">
            <button type="submit" class="btn btn-danger ms-2 p-3 mt-4">Удалить</button>
            <a href="{% url 'index' %}" class="btn btn-success ms-2 mt-4 p-3">Отменить</a>
        </p> 
      </form>
    </div>
</div>
{% endblock %}