{% extends 'base.html' %}

{% block title %}
    Issue create
{% endblock %}

{% block menu %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      проекты
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'projects' %}">все проекты</a></li>
    <li><a class="dropdown-item" href="">создать проект</a></li>
  </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      задачи
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'index' %}">все задачи</a></li>
    <li><a class="dropdown-item" href="{% url 'issue_add' %}">создать задачу</a></li>
  </ul>
  </li>
{% endblock %}

{% block content %}
<h1 class="m-3">Создание новой задачи: </h1>
<form class="m-3" action="{% url 'issue_add' %}" method="POST">
    {% include 'partial/project_issue_form.html' with button_text='Создать' %}
</form>
<p class="mt-4 ms-2"><a href="{% url 'index' %}">вернуться на главную</a></p>
{% endblock %}