{% extends 'base.html' %}

{% block menu %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      проекты
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'projects' %}">все проекты</a></li>
    <li><a class="dropdown-item" href="">создать проект</a></li>
  </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      задачи
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'index' %}">все задачи</a></li>
    <li><a class="dropdown-item" href="{% url 'issue_add' %}">создать задачу</a></li>
  </ul>
  </li>
{% endblock %}

{% block content %}
<div style="text-align: center;" class="title mt-3 mb-3">
  <h2>Список проектов:</h2>
</div>
<div class="row">
{% for project in projects %}
<div class="col-md-12 col-xl-4 mb-4">
  <div class="card p-3 m-2">
    <div class="card-header p-0 bg-white">
      <p><a class="text-dark" style="text-decoration: none;" href="{% url 'project' project.pk %}"><h5 class="card-title">{{project.title}}</h5></a></p>
    </div>
    <p>Начало: <strong>{{ project.date_begin }}</strong></p>
    <p>Конец: <strong>{{ project.date_end }}</strong></p>
    <p><strong><a href="{% url 'project' project.pk %}" class="btn btn-primary ps-5 pe-5">Подробнее</a></strong></p>
  </div>
</div>
{% empty %}
<p>Проекты не найдены!</p>
{% endfor %}
    {% if is_paginated %}
      {% include 'partial/pagination.html' %}
    {% endif %}


</div>
{% endblock %}